/*colour scheme:
Green: #12B3AE
White: #F7F6F7
Orange: #FF6454
Grey: #676567
light-grey: #D9E4E9
*/

.banner-img {
	background-image: url('img/banner.svg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.btn-info {
	color: #F7F6F7;
	background-color: #12B3AE;
	border-color: #F7F6F7;
}

.lead {
	font-size: 19px;
}

.btn-info:hover {
	background-color:#13C0BA;
	border-color: #F7F6F7;
}

.fabricDark {
	background-image: url('img/tweed.png');
}

.fabricText {
	color: #D9E4E9;
}

.navbar-default {
	background-color: #12B3AE;
	border-color: #F7F6F7;
	color: #F7F6F7;
}

.navbar-default .navbar-nav>li>a {
color: #F7F6F7;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #F7F6F7;
}

a {
	color:#FF6454;
}

a:hover {
	color:#FF6454;
}

.navbar-default .navbar-nav>.active>a {
	color: #000000;
	background-color: #F7F6F7;
}

#grid[data-columns]::before {
	content: '3 .column.size-1of3';
}

/* These are the classes that are going to be applied: */
.column { float: left; }
.size-1of3 { width: 33.333%; }

body { padding-top: 50px; }

@media screen and (max-width: 480px) {
    .banner-img {
    	background-image: url('img/banner-mobile.svg');
    }
}