/*colour scheme:
Green: #12B3AE
White: #F7F6F7
Orange: #FF6454
Grey: #676567
light-grey: #D9E4E9
*/

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.banner-img {
	background-image: url('../img/banner.svg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.banner-learning {
  background-color: #0AA2EF;
  color: white;
}

.banner-gallery {
	background-color: #BC451B;
	color: white;
}

.banner-newParents {
	background-color: #BF31C7;
	color: white;
}

.banner-policies {
	background-color: #BF31C7;
	color: white;
}

.banner-facilities {
	background-color: #0AA2EF;
	color: white;
}


.btn-info {
	color: #F7F6F7;
	background-color: #12B3AE;
	border-color: #F7F6F7;
}

.lead {
	font-size: 19px;
}

.btn-info:hover {
	background-color:#13C0BA;
	border-color: #F7F6F7;
}

.fabricDark {
	background-image: url('../img/tweed.png');
}

.fabricText {
	color: #ffffff;
}

.navbar-default {
	background-color: #12B3AE;
	border-color: #F7F6F7;
	color: #F7F6F7;
}

.navbar-default .navbar-nav>li>a {
color: #F7F6F7;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #F7F6F7;
}

a {
	color:#FF6454;
}

a:hover {
	color:#FF6454;
}

.navbar-default .navbar-nav>.active>a {
	color: #000000;
	background-color: #F7F6F7;
}

@media screen and (max-width: 480px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 769px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}

/* Again, you're free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }

.navbar {
	margin-bottom: 0;
}

@media screen and (max-width: 480px) {
    .banner-img {
    	background-image: url('../img/banner-mobile.svg');
    }
}